/*.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 7px;
    border: 1px solid #726e6e;
    border-radius: 8px;
    background: #bbb5b5;
    background: -webkit-gradient(linear, left top, left bottom, from(#bbb5b5), to(#726e6e));
    background: -moz-linear-gradient(top, #bbb5b5, #726e6e);
    background: linear-gradient(to bottom, #bbb5b5, #726e6e);
    -webkit-box-shadow: #c4bcbc -3px 6px 3px 0px;
    -moz-box-shadow: #c4bcbc -3px 6px 3px 0px;
    box-shadow: #c4bcbc -3px 6px 3px 0px;
    text-shadow: #524f4f 1px 1px 1px;
    font: normal normal normal 14px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #a39d9d;
    background: #e0d9d9;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0d9d9), to(#898484));
    background: -moz-linear-gradient(top, #e0d9d9, #898484);
    background: linear-gradient(to bottom, #e0d9d9, #898484);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #726e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#726e6e), to(#726e6e));
    background: -moz-linear-gradient(top, #726e6e, #726e6e);
    background: linear-gradient(to bottom, #726e6e, #726e6e);
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url(../img/map.png);
    background-size: 100% 100%;
}*/